*{
    margin: 0;
    padding: 0;
}

.nav{
    list-style: none;
    padding: 10px 20px;
    background: black ;
    position: relative;
    top: 0;
}

.nav li{
    display: inline-block;
    margin-right: 20px;
}

.nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 5px 0;
}

.nav mark{
    background: red;
    color: white;
    padding: 0.3px;
    border-radius: 2px;
    font-size: 0.8em;
}

.nav>li.home>a{
    font-size: 20px;
    font-weight: bold;
}

.home+li{
    margin-left: 25px;
}

.search-item ~li{
    opacity: 0.8;
}